fastapi[all]
langchain-google-genai
pillow
openai
langchain
langchain_community
pinecone-client
python-dotenv==1.0.1
tiktoken==0.7.0
docx2txt==0.8
langchain-google-genai
chromadb
pypdf==4.3.1
numpy
pandas
google-generativeai
pyrebase4
bcrypt
python-multipart
passlib
python-jose
pydantic


